.access-denied-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0464c5; /* Blue background */
    color: #fff;
    text-align: center;
  }
  
  .access-denied-container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .access-denied-container p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .redirect-button {
    background-color: #fff;
    color: #0464c5;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .redirect-button:hover {
    background-color: #f0f0f0;
  }
  