.homepage-container {
  font-family: Arial, sans-serif;
  background-color: rgb(235, 238, 241);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: blue;
}

.navbar-logo {
  width: 40px;
  height: 40px;
}

.navbar-title {
  font-size: 2rem;
  color: whitesmoke;
  font-style: oblique;
}

.navbar-links {
  display: flex;
  align-items: center;
  
}


.navbar-link {
  margin-left: 1rem;
  color: white;
  text-decoration: none;
  font-size: medium;
}

.navbar-link:hover {
  text-decoration: underline;
}

.navbar-button {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: rgb(247, 235, 244);
  color: rgb(46, 46, 48);
  border: none;
  cursor: pointer;
}

.navbar-button:hover {
  background-color:whitesmoke;
}

.navbar-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.navbar-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.hero-intro {
  margin-bottom: 0rem; 
  padding-top: 10vh;
  padding-bottom: 2vh; 
}

.hero-intro h2 {
  font-size: 4rem; 
  font-style: italic;
  color: #181717; 
  margin: 0.5rem 0; /* Reduce margin to save space */
  text-align: center;
}

.hero-intro p {
  font-size: 1.5rem; 
  font-style: oblique;
  color: maroon; 
  margin: 0.5rem 0; 
  text-align: center;
}




.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Adjust this height as needed */
  
  background-color:white; /* Fallback background color */
  text-align: center;
  font-size: 40px;
  position: relative;
  overflow: hidden; /* Ensure no overflow outside the div */
}

.hero-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 2000%;
  object-fit: cover; 
}

.booking-form {
  text-align: center;
  padding: o.8;
  margin-bottom: o.1rem;
 
  margin: 0.5rem 0;
}

.booking-form h2 {
  margin-bottom: 1rem;
}

.booking-form form {
  display: flex;
  flex-direction: row; /* Set direction to row */
  flex-wrap: wrap; /* Allow wrapping */
  justify-content: center; /* Center the form elements */
  gap: 2rem; /* Add space between elements */
}

.booking-form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.booking-form input {
  padding: 0.5rem;
  margin-top: 0.5rem;
  width: 200px; 
}

.booking-form button {
  padding: 0.5rem 1rem;
  background-color: rgb(184, 155, 155);
 
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

.booking-form button:hover {
  background-color: #c9b9b9;
}
.section-container {
  background-color: rgb(235, 238, 241);;
  padding: 20px;
  
}

.section-container h2 {
  margin-bottom: 20px;
  font-size: 2em;
  color: #141414;
  background-color: rgb(235, 238, 241);
  text-align: center;

}



.reasons {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background-color: #f8f8f8;
}

.card {
  background-color: white;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 20%;
  text-align: center;
}

.footer {
  text-align: left;
  padding: 1rem;
  background-color: rgb(70, 140, 233);
  color: white;
}

.about-us {
  padding: 10px 10px; /* Reduced padding at the top */
  background-color: #f8f8f8; /* Light background color */
  color: black;
  text-align: center;
}

.about-us h2 {
  margin-top: 0; /* Ensure there's no additional margin at the top */
  margin-bottom: 0.5rem;
  color:blue;
  font-size: 4rem;
  text-align: left;
  font-style: var(#141414);
}

.about-us p {
  font-size: 1.5rem;
  line-height: 1.6;
  text-align: left;
  font-style: normal;
}
/* Center the text in the div */
.centered-text {
  text-align: center;
  font-style: italic;
  color: black;
}

/* Center the div itself within its parent container */
.centered-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* To keep the content vertical */
}

