/* Remove background color and style for About Us button */
.navbar-link[href*="#about-us"] {
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none; /* Remove background color */
    padding: 1rem 2rem;
    box-shadow: none; /* Remove box shadow */
}
/* Ensure the dropdown button matches the other navbar links */
.navbar-link, .navbar-button {
    background-color: transparent; /* Transparent background */
    border: none; /* No border */
    color: whitesmoke; /* Maroon text color */
    padding: 10px 20px; /* Padding for the button */
    font-size: 1rem; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    text-decoration: none; /* No underline on text */
    outline: none; /* Removes outline */
    transition: background-color 0.3s ease; 
    }


nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color:powderblue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-logo {
    height: 40px;
    margin-right: 10px;
}

.navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    color:whitesmoke; /* Maroon text color */
    font-family: 'Arial', sans-serif; /* Example font-family */
}

.navbar-links {
    display: flex;
    align-items: center;
    color: powderblue;

}

.navbar-link {
    margin: 0 1rem;
    font-size: 1rem;
    color: powderblue; /* Maroon text color */
    text-decoration: none;
}

.navbar-link:hover {
    text-decoration: underline;
}

.navbar-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navbar-dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: maroon; /* Maroon text color */
}

.dropdown-content a:hover {
    background-color: #f4f4f4; /* Light grey background on hover */
}

.navbar-button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: black; /* White text color */
    background-color:whitesmoke; /* Maroon background color for buttons */
    border: none;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
}

.navbar-button:hover {
    background-color: whitesmoke; /* Darker maroon for button hover effect */
}
